BACKEND_URL=
FACEBOOK_APP_ID=
FACEBOOK_APP_SECRET=
FROM_EMAIL=
FROM_NAME=
FRONTEND_URL=
GEMINI_API_KEY=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
JWT_SECRET=
MONGO_URI=
PAYMEE_API_KEY=
SMTP_EMAIL=
SMTP_HOST=
SMTP_PASSWORD=
SMTP_PORT=